* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s
}

.wrapper {
    height: 100vh;
}
.top-bar {
    width: 80%;
    height: 50px;
    margin: 20px auto;
}
.logo {
    width: 20%;
    float: left;
}
.logo img {
    width: 150px;
    margin: 8px auto;
    cursor: pointer;
    margin-top: -50px;
}
.menu-bar ul {
  list-style-type: none; /* Removes bullet points */
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between 4px;
  cursor: pointer;
}

.menu-bar ul li {
  padding: 15px;
}

.menu-bar ul li a {
  text-decoration: none; /* Removes underlines from links */
  color: #000;
}
.active, .menu-bar ul li:hover {
    border-bottom: 2px solid #000;
}
.search-box {
    width: 20%;
    float: right;
    margin-top: -50px;
}
.input-search {
    margin: 11px auto;
    display: inline-flex;
    border-bottom: 1px solid #000;
}
.input-search input {
    float: right;
    padding: 5px;
    box-shadow: none;
    outline: none;
    border: 0;
    background: transparent;
}
.search-icon .fa {
    color: #000;
}
.hero {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}
.text {
    width: 50%;
    height: 100%;
    float: left;
}
.text p {
    font-weight: 100;
    padding-left: 70px;
    line-height: 25px;
}
.text h1 {
    margin: 100px 0 50px 70px;
    line-height: 40px;
}
.text h1::after {
    content: '';
    width: 150px;
    height: 2px;
    background-color: skyblue;
    top: 23%;
    left: 30%;
    position: absolute;
}
.lol {
    width: 20%;
    float: right;
    margin-top: -40px;
}